aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
arrow
astor
asttokens
attrs
backoff
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dacite
dataclasses-json
dateutils=
decorator
duckdb
et-xmlfile
executing
fastjsonschema
fonttools
frozenlist
gitdb
GitPython
google-ai-generativelanguage==0.4.0
google-api-core==2.17.0
google-auth==2.27.0
google-generativeai==0.3.1
googleapis-common-protos==1.62.0
greenlet
grpcio
grpcio-status
gw_dsl_parser
htmlmin
idna
ImageHash
importlib-metadata
ipython
ipywidgets
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kanaries_track
kiwisolver
langchain==0.1.6
langchain-community==0.0.19
langchain-core==0.1.22
langsmith==0.0.87
llvmlite
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
missingno
monotonic
multidict
multimethod
mypy-extensions
nbformat==5.10.4
networkx
numba==0.58.1
numpy
openpyxl
packaging
pandas
pandas-profiling
parso
patsy
phik
pillow
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pygwalker==0.4.8.3
pyparsing
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
rsa
scipy
seaborn
segment-analytics-python
six
smmap
sniffio
SQLAlchemy
sqlglot
stack-data
statsmodels
streamlit==1.31.0
streamlit-chat==0.1.1
streamlit-pandas-profiling==0.1.3
tangled-up-in-unicode
tenacity
toml
toolz
tornado
tqdm
traitlets
typeguard
types-python-dateutil
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
wasmtime
watchdog
wcwidth
widgetsnbextension
wordcloud
yarl
ydata-profiling
zipp==3.17.0
